<%-include("partials/header.ejs")-%>
<br>
<br>
<br>
<br>        
       <h1 style="border-radius: 10px; background-color: rgb(93, 59, 124);margin-top: 10px;text-align:center;margin-left:30%;margin-right: 30%;padding: 5px;font-size: 25px;">
       Registration Submitted successfully!</h1>          
       <br>
       <br>
       <br>
       <br>             
<%-include("partials/footer.ejs")-%>
